<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="htmlHelper" class="shtykh.topic.util.HtmlHelper">
        <constructor-arg type = "java.lang.String" value="localhost"/>
        <constructor-arg type = "java.lang.String" value="8080"/>
    </bean>

    <bean id="provider" class="shtykh.topic.TopicReader"/>

    <bean id="topicViewerController" class="shtykh.topic.TopicViewerController">
        <constructor-arg ref="provider"/>
        <constructor-arg ref="htmlHelper"/>
    </bean>
</beans>